@using Core;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ron Brogan - Programmer, Maker, Blogger</title>
    <link rel="stylesheet" href="~/Styles/normalize.min.css">
    <link rel="stylesheet" href="~/Styles/milligram.min.css">
    <link rel="stylesheet" href="~/Styles/main.min.css">
    <link href="~/Scripts/prettify/prettify.css" type="text/css" rel="stylesheet" />
    
</head>
<body onload="prettyPrint();">
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <div class="profile-image"><a href="/"><img src="~/Images/me.png" alt="A picture of myself" /></a></div>
                <a href="/"><div class="name">Ron Brogan</div></a>
            </div>
            <div class="navbar-links">
                <ul>
                    @if (false)
                    {
                        <li><a href="/admin/manage">Hello @(CurrentContext.User.Email)!</a></li>
                    }
                    <li><a href="/posts">Posts</a></li>
                    <li><a href="https://github.com/ronbrogan" target="_blank">Github</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/Scripts/prettify/prettify.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
