@import (reference) "variables.less";
@import "utilities.less";

.navbar {
    background-color: @primary-color;
    box-shadow: 0px 5px 5px rgba(0,0,0, 0.1);
    margin-bottom: 10px;

    .navbar-header {
        text-align: center;
        height: 60%;
        padding: 5px 0;

        .profile-image {
            display: none;
        }

        .name {
            color: @darker-primary-color;
            font-size: 25px;
            display: inline-block;
            line-height: 40px;
            height: 40px;
            font-weight: 600;
        }
    }

    .navbar-links {
        text-align: center;
        padding: 5px 0;

        ul {
            margin: 0;
            height: 40px;
            line-height: 40px;

            li {
                &:not(:first-child) {
                    margin-left: 15px;
                }

                a {
                    color: #fff;

                    &:hover {
                        color: @darker-primary-color;
                    }
                }

                display: inline-block;
                margin: 0;
            }
        }
    }
}

/* Non-mobile styles */
@media (min-width: 80rem) {
    .navbar {
        height: 50px;

        .navbar-header {
            float: left;
            height: 100%;

            .profile-image {
                display: block;
                float: left;
                line-height: 0;

                img {
                    height: 100%;
                    border-radius: 50%;
                    border-color: transparent;
                }
            }

            .name {
                float: left;
                margin-left: 15px;
            }
        }

        .navbar-links {
            float: right;
        }
    }
}
