@import (reference) "variables.less";
@import "utilities.less";

.navbar {
    border-bottom: 2px solid @accent-color;
    margin-bottom: 4rem;

    .navbar-header {
        text-align: center;
        height: 60%;
        padding: 5px 0;

        .profile-image {
            display: none;
        }

        .name {
            color: @primary-color;
            font-size: 25px;
            display: inline-block;
            line-height: 40px;
            height: 40px;
            font-weight: 600;
        }
    }

    .navbar-links {
        text-align: center;
        padding: 5px 0;

        ul {
            margin: 0;
            height: 40px;
            line-height: 40px;

            li {
                &:not(:first-child) {
                    margin-left: 15px;
                }

                a {
                    color: @primary-color;

                    &:hover {
                        color: @darker-primary-color;
                    }
                }

                display: inline-block;
                margin: 0;
            }
        }
    }
}

/* Non-mobile styles */
@media (min-width: 80rem) {
    .navbar {
        height: 54px;
        margin-bottom: 4rem;

        .navbar-header {
            float: left;
            height: 100%;

            .profile-image {
                display: block;
                float: left;
                line-height: 0;

                img {
                    height: 100%;
                    border-radius: 50%;
                    border-color: transparent;
                }
            }

            .name {
                float: left;
                margin-left: 15px;
            }
        }

        .navbar-links {
            float: right;
        }
    }
}

.navbar-buddy {
    margin-top: -4rem;
}

.banner {
    width: 100%;
    padding: 10rem 20%;
    background-color: @accent-color;

    @media (max-width: 80rem) {
        padding: 5rem 10%;
    }
    
    h1, .h1, h2, .h2, h3, .h3 {
        color: #fff;
    }
}

input[type='email'], input[type='number'], input[type='password'],
input[type='search'], input[type='tel'], input[type='text'],
input[type='url'], textarea, select {
    border-radius: 0;
    border-bottom-width: 0.2rem;
    border-top: none;
    border-right: none;
    border-left: none;
}

.blog-post, .blog-post-summary {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;

    small, .small {
        font-size: small;
        line-height: normal;
        color: #999;
    }

    hr {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .creation-stamp {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;
        padding: 7px;

    }

    img {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.blog-post-summary {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5rem;
}

@media (max-width: 80rem) {
    .row {
        flex-direction: column;
    }

    .row > .column.column-full-small {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.mce-tinymce {

    button:hover {
        background-color: transparent !important;
    }

}