@darker-primary-color:   darken(#900900, 14%);
@dark-primary-color:   darken(#900900, 7%);
@primary-color:       #900900;
@light-primary-color:  lighten(#900900, 7%);
@text-primary-color:   #ffffff;
@accent-color:        #8a9fab;
@primary-text-color:   #212121;
@secondary-text-color: #757575;
@divider-color:       #bdbdbd;

@radius-base: 0.2rem;
@card-shadow: 0 0 0.7rem rgba(0,0,0,0.3);