<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "[tinymce-editor]",
        height: 500,
        theme: 'modern',
        plugins: [
          'advlist autolink lists link image charmap print preview hr anchor pagebreak',
          'searchreplace wordcount visualblocks visualchars code fullscreen',
          'insertdatetime media nonbreaking save table contextmenu directionality',
          'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | forecolor backcolor | codesample code',
        image_advtab: true
    });

</script>
<div class="container">
    <div class="row">
        <div class="column">
            <h3 class="no-bottom-margin">New Blog Post</h3>
            <hr class="accent no-top-margin" style="width: 50%"/>
            <form method="post" enctype="multipart/form-data">
                <label>
                    Title
                    <input type="text" name="Title"/>
                </label>
                <div class="row">
                    <div class="column column-50">
                        <label>
                            Snippet
                            <input type="text" name="TeaserText" />
                        </label>
                    </div>
                    <div class="column column-50">
                        <label>
                            Thumbnail URL<br />
                            <input type="file" name="Thumbnail" />
                        </label>
                    </div>
                </div>
                <label>
                    Body
                    <textarea name="BodyHtml" tinymce-editor></textarea>
                </label>

                <p class="text-right">
                    <button type="submit" class="button">Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>