@model IEnumerable<ViewModels.BlogItems.BlogViewModel>
<div class="banner navbar-buddy">
    <h1 class="no-margin">Hello, I'm Ron</h1>
    <h2 style="color: #222">
        I'm a software developer by day and a serial hobbyist by night. Learn new things with me.
    </h2>
</div>
<div class="container">
    <div class="row">
        <div class="column">
            @foreach (var blog in Model)
            {
                <div class="blog-post">
                    <span class="h1">@blog.Title</span>
                    <small>@blog.CreatedBy.UserName - @blog.DateCreated.ToShortDateString()</small>
                    <hr class="accent" />
                    <div>@Html.Raw(blog.BodyHtml)</div>
                </div>
            }
        </div>
    </div>
</div>