@{
    ViewBag.Title = "Home Page";
}
<div style="height: 100px;"></div>
<div class="row">
    <div class="column">
        <h2 class="no-margin">Hello, I'm Ron</h2>
        <hr class="accent no-top-margin" />
        <h4>
            I'm a software developer by day and a serial hobbyist by night. Learn new things with me.
        </h4>
    </div>
</div>