@model ViewModels.BlogItems.BlogViewModel

<div class="container">
    <div class="row">
        <div class="column">
            <div class="blog-post">
                <span class="h1">@Model.Title</span>
                <small>@Model.CreatedBy.FullName - @Model.DateCreated.ToShortDateString()</small>
                <hr class="accent" />
                <div>@Html.Raw(Model.BodyHtml)</div>
            </div>
        </div>
    </div>
</div>